<div class="container">
  <div class="card mt-4">
    <h1>
      Nuevo empleado
    </h1>
    <div class="card-body">
      <form id="formConsulta" #formConsulta="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label class="col-md-1 col-form-label" value="Nombre">Nombre</label>
          <input type="text" class="form-control col-md-8" name="nombre" [(ngModel)]="empleado.nombre" #nombre="ngModel"
            required>
          <span *ngIf="nombre.touched && !nombre.valid">
            Introduzca el nombre del empleado
          </span>
        </div>
        <div class="form-group row">
          <label class="col-md-1 col-form-label" value="Edad">Edad: </label>
          <input type="text" class="form-control col-md-2" name="edad" [(ngModel)]="empleado.edad" #edad="ngModel"
            required>
          <span *ngIf="edad.touched && !edad.valid">
            Introduzca la edad del empleado
          </span>

          <label class="col-md-1 col-form-label" value="Cargo">Cargo: </label>
          <input type="text" class="form-control col-md-2" name="cargo" [(ngModel)]="empleado.cargo" #cargo="ngModel"
            required>
          <span *ngIf="cargo.touched && !cargo.valid">
            Introduzca el cargo del empleado
          </span>

          <label class="col-md-2 col-form-label" value="Contratado">Contratado (0/1): </label>
          <input type="text" class="form-control col-md-1" name="contratado" [(ngModel)]="empleado.contratado"
            #contratado="ngModel" required>
          <span *ngIf="contratado.touched && !contratado.valid">
            Introduzca si el empleado está contratado (0/1)
          </span>
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar" [disabled]="!formConsulta.form.valid"
          style="margin-right: 10px">
        <button class="btn btn-danger" (click)="cancel(); $event.preventDefault()">Cancelar</button>
      </form>
    </div>
  </div>
</div>