<a href="/nuevanomina" class="btn btn-info float-left ml-4">Nueva nómina</a>
<h1>
  Nominas
</h1>
<div *ngIf="nominas!=null; else espera">
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="filters">
        <th>Posición</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Bruto</th>
        <th>Retención</th>
        <th>Creado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nomina of nominas | paginate: { itemsPerPage: 5, currentPage: page}; let i = index">
        <td>{{ i }}</td>
        <td>{{ nomina.id }}</td>
        <td>{{ nomina.nombre }}</td>
        <td>{{ nomina.fecha }}</td>
        <td>{{ nomina.bruto }}</td>
        <td>{{ nomina.retencion }}</td>
        <td>{{ nomina.created_at }}</td>
        <td>
          <button [routerLink]="['/modificarnomina/',nomina.id]" type="button"
            class="btn btn-warning mr-4">Modificar</button>
          <button [routerLink]="['/borrarnomina/',nomina.id]" type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<ng-template #espera>Esperando datos...</ng-template>